<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <% if(typeof title != "undefined"){ %>
            <title><%= title %></title>
        <% } else { %>
            <title>CinemaScope</title>
        <% } %>
        <link rel="icon" href="/images/movie-icon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Codystar" rel="stylesheet">

        <link rel="stylesheet" href="/css/home.css">
    </head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">CinemaScope</a>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-pills nav-left" >
                    <% if(active==1) { %>
                        <li class="active"><a href="/newrelease"><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;New Release<span class="sr-only">(current)</span></a></li>
                    <% } else { %>
                        <li><a href="/newrelease"><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;New Release<span class="sr-only">(current)</span></a></li>
                    <% } %>

                    <% if(active==2) { %>
                        <li class="active"><a href="/topboxoffice"><span class="glyphicon glyphicon-fire"></span>&nbsp;&nbsp;Top 20 Box Office</a></li>
                    <% } else { %>
                        <li><a href="/topboxoffice"><span class="glyphicon glyphicon-fire"></span>&nbsp;&nbsp;Top 20 Box Office</a></li>
                    <% } %>
                    <% if(active==3) { %>
                        <li class="active"><a href="/topfavourite"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;Top 20 Favourite</a></li>
                    <% } else { %>
                        <li><a href="/topfavourite"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;Top 20 Favourite</a></li>
                    <% } %>
                </ul>
                
                <% if(typeof session.passport == "undefined") { %>
                    <ul class="nav navbar-nav nav-pills nav-left pull-right">
                        <% if(active==4) { %>
                            <li class="pull-right active"><a href="/member/login"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Login / Sign Up</a></li>
                        <% } else { %>
                            <li class="pull-right"><a href="/member/login"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Login / Sign Up</a></li>
                        <% } %>
                    </ul>
                <% } else { %>
                    <ul class="nav navbar-nav nav-pills nav-left pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Welcome<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Ganti Password</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/member/logout"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                <% } %>
            </div>
        </div>
    </nav>

    <div class="row row-body">
        <!--<p style="color: white;">Session : <%= JSON.stringify(session) %></p>-->
        
        <% session.flash.forEach(function(msgs) { %>
            <!--<p style="color: white;">Tipe Session : <%= msgs['type'] %></p>-->
            <% if(Array.isArray(msgs.message)) { %>
                <!--<p style="color: red;">Panjang Message : <%= msgs.message.length %></p>-->
                <% msgs.message.forEach(function(msg) { %>
                    <% if(msgs["type"].indexOf("error") >= 0 ) { %>
                        <div class="alert alert-danger fade in col-md-3" role="alert">
                    <% } else { %>
                        <div class="alert alert-info fade in col-md-3" role="alert">
                    <% } %>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong><%= msg.msg %></strong>
                        </div>
                <% }) %>
            <% } else { %>
                <% if(msgs["type"].indexOf("error") >= 0 ) { %>
                    <div class="alert alert-danger fade in" role="alert">
                <% } else { %>
                    <div class="alert alert-info fade in" role="alert">
                <% } %>
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong><%= msgs.message %></strong>
                    </div>
            <% } %>
        <% }) %>
