<% include partials/header.ejs %>
    <div class="col-md-9 col-sm-6 col-xs-6">
        <div class="description">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="thumbnail">
                    <img src="<%= fmovie.image %>">
                    <div class="info">
                        <table>
                            <tr>
                                <td class="table-title">Title</td>
                                <td class="table-value">: <%= fmovie.title %></td>
                            </tr>
                            <tr>
                                <td class="table-title">Release Date&nbsp;&nbsp;</td>
                                <td class="table-value">: <%= moment(fmovie.release_date).format( "MMM-DD-YYYY") %></td>
                            </tr>
                            <tr>
                                <td class="table-title">Category</td>
                                <td class="table-value">: <%= fmovie.category %></td>
                            </tr>
                            <tr>
                                <td class="table-title">Rating</td>
                                <td class="table-value">: <%= fmovie.rating %></td>
                            </tr>
                            <tr>
                                <td class="table-title">&nbsp;</td>
                                <td class="table-value">&nbsp;</td>
                            </tr>
                        </table>
                        <label class="label-md label-primary lbl-fav">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="pull-right"><%= fmovie.star %></span>
                        </label>
                        <label class="label-md label-default lbl-fav">
                            <span class="glyphicon glyphicon-comment"></span class="pull-right">
                            <span class="pull-right"><%= fmovie.comments %></span>
                        </label>
                        <a href="#"><button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-star"></span>&nbsp;Favourite</button></a>
                    </div>
                </div>
            </div>

            <%= fmovie.description %>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="comments">
            <table class="table table-striped table-comment">
                <thead>
                    <tr>
                        <th>Komentar</th>
                    </tr>
                </thead>
                <tbody class="comment-list">
                    <% comments.forEach(function(c) { %>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        <label class="label-primary lbl-user"><%= c.user.username %></label>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <label class="label-warning pull-right lbl-date"><%= moment(c.date).format( "MM-DD-YYYY HH:mm:SS") %></label>
                                    </div>
                                </div>
                                <%= c.comment %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <form action="/movie/<%= fmovie._id %>" class="form-group" method="POST">
            <textarea id="comment" name="comment" class="comment-input"></textarea>
            <% if(typeof session.passport == "undefined") { %>                
            <% } else { %>
                <input class="btn btn-success btn-block" type="submit" name="submit">
            <% } %>
            <br>
            <% if(typeof session.passport == "undefined") { %>
                <input id="userid" name="userid" type="hidden">
            <% } else { %>
                <input id="userid" name="userid" type="hidden" value="<%= session.passport.user %>">
            <% } %>
            <input id="movieid" name="movieid" type="hidden" value="<%= fmovie._id %>">
        </form>
        <% if(typeof session.passport == "undefined") { %>
            <a href="/member/login/?next=movie/<%= fmovie._id %>"><button class="btn btn-warning btn-block" name="login">Log In to Comment</button></a>
        <% } %>
    </div>
<% include partials/footer.ejs %>